---
import ServiceCard from "../components/ServiceCard.astro";
import TechStackIcon from "../components/TechStackIcon.astro";
import Layout from "../layouts/Layout.astro";
import Highlight from "../components/Highlight.astro";

import { Image } from "astro:assets";
import RandomImage1 from "../assets/images/random-1.png";
import RandomImage2 from "../assets/images/random-2.png";

import PythonIcon from "../assets/images/techstack/python.svg";
import DjangoIcon from "../assets/images/techstack/django.svg";
import HTML5Icon from "../assets/images/techstack/html5.svg";
import CSS3Icon from "../assets/images/techstack/css3.svg";
import JSIcon from "../assets/images/techstack/javascript.svg";
import ReactIcon from "../assets/images/techstack/react.svg";
import ElasticsearchIcon from "../assets/images/techstack/elasticsearch.svg";
import RedisIcon from "../assets/images/techstack/redis.svg";
import DockerIcon from "../assets/images/techstack/docker.svg";
import KubernetesIcon from "../assets/images/techstack/kubernetes.svg";
import AWSIcon from "../assets/images/techstack/amazonaws.svg";
import GCPIcon from "../assets/images/techstack/googlecloud.svg";
import PostgresIcon from "../assets/images/techstack/postgresql.svg";
import NodeJSIcon from "../assets/images/techstack/nodedotjs.svg";
import GoIcon from "../assets/images/techstack/go.svg";
---

<Layout title="Majikode">
    <section class="pt-12">
        <div class="relative">
            <div>
                <Image
                    class="hidden sm:block absolute top-0 right-1/2 mt-8 lg:mt-20 rounded-4xl opacity-20"
                    src={RandomImage2}
                    alt=""
                    loading="eager"
                />
                <h1 class="font-heading mx-auto text-center md:w-3/5 text-4xl">
                    Majikode is a full-stack development consultancy
                </h1>
                <p class="mx-auto pl-4 md:pl-0 md:w-1/2 pt-8">
                    Our engineering team possesses a diverse skill set, including the development of <Highlight
                        >scalable products</Highlight
                    >, the optimization of <Highlight>complex codebases</Highlight>, architecture design of <Highlight
                        >custom data pipelines</Highlight
                    >, and the administration of <Highlight>cloud infrastructure.</Highlight>
                </p>
            </div>
        </div>
    </section>

    <section class="pt-24">
        <div class="relative">
            <div class="max-w-md mx-auto lg:max-w-none">
                <div class="text-center mb-12">
                    <h2 class="font-heading w-1/2 mx-auto text-3xl">We are experts in</h2>
                </div>
                <div class="flex flex-wrap -mx-3 pl-4 md:pl-0">
                    <ServiceCard title="Software Architecture">
                        We provide <Highlight>full technical documentation</Highlight> describing <span class="italic"
                            >how</span
                        > to implement given requirements, so that your developers can do the work in a <Highlight
                            >shorter amount of time</Highlight
                        > to a <Highlight>higher quality standard</Highlight>.
                    </ServiceCard>
                    <ServiceCard title="Full-stack Development">
                        We are experts in rapid prototyping and pragmatic system design. Our products are built to be
                        <Highlight>easily maintained without sacrificing performance</Highlight>.
                    </ServiceCard>
                    <ServiceCard title="Product Management">
                        We can work as a self-directed unit to deliver a full product, or we can integrate into an
                        existing team to assist with <Highlight>management, engineering, and operations.</Highlight>
                    </ServiceCard>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-24 pb-12">
        <div>
            <div class="text-center mb-12">
                <h2 class="font-heading md:w-1/2 mx-auto text-3xl">These are our favorite tools</h2>
            </div>
            <div class="flex flex-wrap justify-center">
                <TechStackIcon name="Python" icon={PythonIcon} />
                <TechStackIcon name="Django" icon={DjangoIcon} />
                <TechStackIcon name="Go" icon={GoIcon} />
                <TechStackIcon name="Node.js" icon={NodeJSIcon} />
                <TechStackIcon name="PostgreSQL" icon={PostgresIcon} />
                <TechStackIcon name="HTML5" icon={HTML5Icon} />
                <TechStackIcon name="CSS3" icon={CSS3Icon} />
                <TechStackIcon name="JavaScript" icon={JSIcon} />
                <TechStackIcon name="React" icon={ReactIcon} />
                <TechStackIcon name="Redis" icon={RedisIcon} />
                <TechStackIcon name="Docker" icon={DockerIcon} />
                <TechStackIcon name="Kubernetes" icon={KubernetesIcon} />
                <TechStackIcon name="Elasticsearch" icon={ElasticsearchIcon} />
                <TechStackIcon name="AWS" icon={AWSIcon} />
                <TechStackIcon name="GCP" icon={GCPIcon} />
            </div>
        </div>
        <Image
            class="hidden sm:block absolute top-3/4 right-0 rounded-4xl opacity-10"
            src={RandomImage1}
            alt=""
            loading="eager"
        />
    </section>
</Layout>
