---
import ServiceCard from "../components/ServiceCard.astro";
import TechStackIcon from "../components/TechStackIcon.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import RandomImage1 from "../assets/images/random-1.png";
import RandomImage2 from "../assets/images/random-2.png";

import PythonIcon from "../assets/images/techstack/python.svg";
import DjangoIcon from "../assets/images/techstack/django.svg";
import HTML5Icon from "../assets/images/techstack/html5.svg";
import CSS3Icon from "../assets/images/techstack/css3.svg";
import JSIcon from "../assets/images/techstack/javascript.svg";
import TSIcon from "../assets/images/techstack/typescript.svg";
import DockerIcon from "../assets/images/techstack/docker.svg";
import KubernetesIcon from "../assets/images/techstack/kubernetes.svg";
import AWSIcon from "../assets/images/techstack/amazonaws.svg";
import GCPIcon from "../assets/images/techstack/googlecloud.svg";
import PostgresIcon from "../assets/images/techstack/postgresql.svg";
import NodeJSIcon from "../assets/images/techstack/nodedotjs.svg";
import BashIcon from "../assets/images/techstack/gnubash.svg";
import GoIcon from "../assets/images/techstack/go.svg";
import GithubActionsIcon from "../assets/images/techstack/githubactions.svg";
---

<Layout title="Majikode">
    <section class="pt-12">
        <div class="relative">
            <div>
                <Image
                    class="hidden sm:block absolute top-0 right-1/2 mt-8 lg:mt-20 rounded-4xl opacity-20"
                    src={RandomImage2}
                    alt=""
                />
                <h1 class="font-heading mx-auto text-center md:w-3/5 text-6xl">
                    Majikode is a full-stack development consultancy
                </h1>
                <p class="mx-auto pl-4 md:pl-0 md:w-1/2 pt-8">
                    Our engineering team possesses a diverse skill set,
                    including the development of scalable products, the
                    optimization of complex codebases, architecture design of
                    custom data pipelines, security assessments, and the
                    development of DevOps infrastructure.
                </p>
            </div>
        </div>
    </section>

    <section class="pt-24">
        <div class="relative">
            <div class="max-w-md mx-auto lg:max-w-none">
                <div class="text-center mb-12">
                    <h2 class="font-heading w-1/2 mx-auto text-4xl">
                        We are experts in
                    </h2>
                </div>
                <div class="flex flex-wrap -mx-3 pl-4 md:pl-0">
                    <ServiceCard title="Software Architecture">
                        Majikode thrives on delivering scalable and resilient
                        products. We use a mix of proven and cutting-edge
                        technologies to deliver the best possible solution for
                        your business.
                    </ServiceCard>
                    <ServiceCard title="Full-stack Web Development">
                        We are experts in rapid prototyping and pragmatic system
                        design. Our products are built to be easily maintained
                        without sacrificing performance.
                    </ServiceCard>
                    <ServiceCard title="DevSecOps, Data Engineering">
                        We go beyond the development of software. We cover the
                        whole lifecycle of software, including operations,
                        security, and data engineering.
                    </ServiceCard>
                </div>
                <Image
                    class="hidden sm:block absolute top-1/2 right-0 mt-8 rounded-4xl opacity-20"
                    src={RandomImage1}
                    alt=""
                />
            </div>
        </div>
    </section>
    <section class="pt-24 pb-12">
        <div>
            <div class="text-center mb-12">
                <h2 class="font-heading md:w-1/2 mx-auto text-4xl">
                    We have experience with a wide stack of technologies
                </h2>
            </div>
            <div class="flex flex-wrap justify-center">
                <TechStackIcon name="Python" icon={PythonIcon} />
                <TechStackIcon name="Django" icon={DjangoIcon} />
                <TechStackIcon name="Go" icon={GoIcon} />
                <TechStackIcon name="PostgreSQL" icon={PostgresIcon} />
                <TechStackIcon name="Bash" icon={BashIcon} />
                <TechStackIcon name="HTML5" icon={HTML5Icon} />
                <TechStackIcon name="CSS3" icon={CSS3Icon} />
                <TechStackIcon name="JavaScript" icon={JSIcon} />
                <TechStackIcon name="TypeScript" icon={TSIcon} />
                <TechStackIcon name="Node.js" icon={NodeJSIcon} />
                <TechStackIcon name="Docker" icon={DockerIcon} />
                <TechStackIcon name="Kubernetes" icon={KubernetesIcon} />
                <TechStackIcon name="Github Actions" icon={GithubActionsIcon} />
                <TechStackIcon name="AWS" icon={AWSIcon} />
                <TechStackIcon name="GCP" icon={GCPIcon} />
            </div>
        </div>
    </section>
</Layout>
